name: Unit Tests

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches-ignore:
      - dependabot/**

jobs:
  test-unit:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write # Required for OIDC if you use it
      pull-requests: write

    steps:
      - uses: szenius/set-timezone@v1.1
        with:
          timezoneLinux: Europe/Paris
          timezoneMacos: Europe/Paris

      - name: Checkout (full history)
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js, pnpm and Nx cache
        uses: ./.github/actions/setup

      - name: Test units with coverage
        run: pnpm test:unit:coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage/lcov.info
          flags: unit
          name: relizy-coverage
          fail_ci_if_error: true
          verbose: true
